extend ../layouts/defaults.pug
include ../mixins/breadcrumb.pug
include ../mixins/box-head.pug


block title 
    title Chi tiết sản phẩm

block main
    //product info
    .product-info
        .container
            .product-info__wrap
                .product-info__left 
                    .product-info__images-main
                        img(src="assets/Image/big-dog.jpg", alt="")
                    .product-info__images-thumbs
                        img(src="assets/Image/small-dog.jpg", alt="")
                        img(src="assets/Image/small-dog.jpg", alt="")
                        img(src="assets/Image/small-dog.jpg", alt="")
                        img(src="assets/Image/small-dog.jpg", alt="")
                        img(src="assets/Image/small-dog.jpg", alt="")
                .product-info__right 
                    -
                        var breadcrumb = [
                            {
                                link:"#",
                                title: "Trang chủ"
                            },
                            {
                                link:"#",
                                title: "Chó"
                            },
                            {
                                link:"#",
                                title: "Chó con"
                            },
                            {
                                link:"#",
                                title: "Shiba Inu Màu Nâu Đỏ"
                            }
                        ];
                    +breadcrumb(breadcrumb)
                    h1.product-info__title Shiba Inu Màu Nâu Đỏ
                    .product-info__price 12.000.000 VND 
                    .product-info__buttons
                        a(href="#" class="button") Liên hệ
                        a(href="#" class="button--outline button") <i class="fa-regular fa-comment-dots"></i> Chat với Monito
                    .product-info__table
                        table
                            tbody 
                                tr 
                                    td SKU
                                    td #1000078
                                tr 
                                    td Giống
                                    td Cái
                                tr 
                                    td Tuổi
                                    td 2 tháng
                                tr 
                                    td Kích thước
                                    td Nhỏ
                                tr 
                                    td Màu sắc
                                    td Nâu đỏ
                                tr 
                                    td Mô tả ngắn
                                    td Giống thuần chủng Shih Tzu. Cấu trúc cơ thể tốt. Với chứng chỉ MKA và Microchip. Cha từ dòng dõi vô địch.
                    nav.box-share
                        .box-share__label <i class="fa-solid fa-share-nodes"></i> Chia sẻ
                        ul.box-share__list 
                            li 
                                a(href="" target="_blank") <i class="fa-brands fa-facebook"></i>
                            li 
                                a(href="" target="_blank") <i class="fa-brands fa-twitter"></i>
                            li 
                                a(href="" target="_blank") <i class="fa-brands fa-instagram"></i>
                            li 
                                a(href="" target="_blank") <i class="fa-brands fa-youtube"></i>       
    //end product info

    //section-2
    .section-2
        .container
            +box-head(
                "Có gì mới?",
                "Xem Thêm Chó Con"
            )
            .section-2__wrap
                .product-item
                    .product-item__image
                        a(href="#")
                            img(src="assets/Image/image 2.jpg" alt="")
                    .product-item__content
                        h3(class="product-item__title")
                            a(href="#") MO231 - Pomeranian White
                        .product-item__desc
                            .product-item__desc-item
                                |Giống: 
                                <b>Đực</b>
                            .product-item__dot
                            .product-item__desc-item Tuổi: 
                                <b>02 tháng</b>
                        .product-item__price 6.900.000 VND
                .section-2__wrap__button
                    a(href="" class="button button--outline")
                        | Xem thêm
                        <i class="fa-solid fa-chevron-right"></i>
    //end-section-2