@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* pre set */
$text-head: #003459;
$text-para: #242B33;
$text-white: #FDFDFD;
$text-dark: #00171F;
$text-light: #667479;

* {
    font-family: "Be Vietnam Pro", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

/* end pre set */

/* container  */
.container {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1199.98px) {
        width: 960px;
    }
    
    @media (max-width: 991.98px) {
        width: 540px;
    }
    
    @media (max-width: 576px) {
            width: 100%;
            padding-left: 16px;
            padding-right: 16px;
    }
}
/*end container  */

/* header  */
.header {
    padding: 30px 0;
    position: relative;
    z-index: 9999;

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 14px
    }

    &__logo img{
        width: auto;
        height: 40px;
    }

    &__menu {
        flex: 1;
        text-align: center;
        
        ul{
            display: inline-flex;
            list-style: none;
            margin: 0;
            padding: 0;
            gap: 0 48px;

            a {
                font-weight: 700;
                font-size: 16px;
                color: $text-head;
                text-transform: capitalize;
            }
        }
    }

    &__search {
        background-color: #f3f3f3;
        border-radius: 46px;
        padding: 12px 16px;
        width: 280px;
        display: flex;
        align-items: center;
        gap: 12px;

        i {
            font-size: 16px;
            color: $text-light;
        }

        input {
            flex:1;
            border: 0;
            background-color: transparent;
            outline: none;
            color: $text-dark;

            &::placeholder {
                color: $text-light;
            }
        }
    }
    &__button-menu, &__button-search {
        display: none;
        background-color: transparent;
        border: none;
        color: #00171F;
        cursor: pointer;
    }

    @media (max-width: 1199.98px) {
        .button {
            display: none;
        }
    }
    
    @media (max-width: 991.98px) {
        &__button-menu {
            display: inline-block;
            font-size: 20px;
        }

        &__button-search {
            display: inline-block;
        }
    
        &__menu {
            display: none;
            font-size: 23px;   
        }
    
        &__search {
            display: none;
            
        }
    }
    
    @media (max-width: 575.98px) {
        padding: 12px 0px;
    
        &__logo img {
            height: 32px;
        }
    }
}
/* end header  */

/* button  */
.button {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 10px 28px;
    background-color: $text-head;
    border-radius: 57px;
    height: 44px;
    width: auto;
    color: $text-white;
    display: inline-flex;
    align-items: center;
    gap: 11px;
    border: 1.5px solid #003459;

    i {
        font-size: 18px;
    }

    &--outline {
        background-color: transparent;
        color: $text-dark;
    }
}
/* end button  */

/*section-1*/
.section-1 {
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    border-radius: 0 0 40px 40px;
    margin-top: -104px;
    padding-top: 104px;
    overflow: hidden;
    
    &__wrap{
        display: flex;
        position: relative;
    }
    
    &__content {
        flex: 1;
        margin-right: 76px;
        margin-top: 80px;
        position: relative;
        z-index: 1;
    }
    
    &__title {
        margin: 0;
        font-weight: 700;
        font-size: 60px;
        color: #002A48;
        text-transform: capitalize;
    }
    
    &__sub-title {
        margin: 0;
        font-weight: 700;
        font-size: 46px;
        color: #002A48;
        text-transform: capitalize;
    }
    
    &__desc {
        // margin-top: 0;
        // margin-bottom: 34px;
        font-weight: 500;
        font-size: 16px;
        color: #242B33;
    }
    
    &__button {
        display: flex;
        flex-wrap: wrap;
        gap:18px;
    }
    
    &__image{
        width: 50%;
        padding-right: 74px;
        position: relative;
    }
    
    &__image-main {
        width: 100%;
        position:  relative;
    }
    
    &__group2 {
        position: absolute;
        bottom: 0;
        right: -29%;
        width: 145%;
        height: auto;
    }
    
    &__rect3 {
        position: absolute;
        top: 63px;
        left:-18px;
    }
    
    &__rect8 {
        position: absolute;
        bottom: 0;
        left:-91px;
    }
    
    &__rect9 {
        position: absolute;
        top:-104px;
        left: -132px;
    }
    
    @media (max-width: 1199.98px) {
        &__title {
            font-size: 53px;
        }
    
        &__sub-title {
            font-size: 35px;
        }
    
        &__rect8 {
            left: -185px;
        }
    
    }
    
    @media (max-width: 991.98px) {
        .section-1 {
            border-radius: 0px 0px 20px 20px;
        }
    
        &__wrap {
            flex-wrap: wrap;
        }
    
        &__content {
            flex: none;
            width: 100%;
            margin-right: 0;
            margin-bottom: 25px;
            margin-top: 60px;
        }
    
        &__image {
            width: 100%;
            padding-right: 0 auto;
    
        }
    }
    
    @media (max-width: 768.98px) {
        &__rect9 {
            top: -15%;
            left: 15%;
        }
    }
    
    @media (max-width: 575.98px) {
        &__content {
            margin-top: 35px;
        }
    
        &__title {
            font-size: 46px;
        }
    
        &__sub-title {
            font-size: 28px;
        }
    
        &__desc {
            margin-bottom: 32px;
            font-weight: 500;
            font-size: 12px;
        }
    
        &__button {
            gap:13px;
        }
    
        &__rect3 {
            display: none;
        }
    
        &__rect8 {
            display: none;
        }
    
        &__rect9 {
            top: -13%;
        }
    }
}
/*end section-1*/

/* box head */
.box-head {
    margin-bottom: 28px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &__sub-title {
        font-size: 16px;
        font-weight: 500;
        color: #000;
        margin-bottom: 2px;
    }
    
    &__title {
        margin: 0;
        font-size: 24px;
        font-weight: 700;
        text-transform: capitalize;
        color: &text-head;
    }
}
/*end box head */

/* section-2 */
.section-2 {
    padding: 60px 0;

    &__wrap {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
        &__button {
            display: none;
        }
    }
    
    
    @media (max-width: 991.98px) {
        &__wrap {
            grid-template-columns:repeat(3,1fr);
            &__button {
                display: inline;
            }
            &__button .button{
                margin-top: 16px;
                width: 100%;
                justify-content: center;
                font-weight: 500;
            }
        }
    
        .box-head__right{
            display: none;
        }
    }
    
    @media (max-width: 768.98px) {
        &__wrap {
            grid-template-columns:repeat(2,1fr);
        }
    }
    
    @media (max-width: 575.98px) {
        padding: 40px 0;
    
        &__wrap {
            gap: 12px;
        }
    }
}
/* end section-2 */

/* product item  */
.product-item {
    background-color: $text-white;
    box-shadow: 0px 4px 28px -2px #00000014;
    border-radius: 12px;
    padding: 8px;
    
    &__image {
        aspect-ratio: 1/1;
        border-radius: 10px;
        overflow: hidden;
    }
    
    &__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    &__content {
        padding: 8px;
    }
    
    &__title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 700;
    }
    
    &__title a {
        color: #00171F;
    }
    
    &__desc {
        display: flex;
        margin-top: 4px;
        margin-bottom: 4px;
        gap: 5px 10px;
        align-items: center;
    }
    
    &__desc-item {
        font-weight: 500;
        font-size: 12px;
        color: &text-light;
    }
    
    &__desc-item b {
        font-weight: 700;
    }
    
    &__dot {
        width: 3px;
        height: 3px;
        background-color: &text-light;
        border-radius: 50%;
    }
    
    &__price {
        font-weight: 700;
        font-size: 14px;
        color: &text-dark;
    }
    
    @media (max-width: 575.98px) {
        .box-head {
            margin-bottom: 20px;
            &__sub-title {
                font-size: 14px;
            }
            
            &__title {
                font-size: 20px;
            }
        }
    
        .product-item__title {
            font-size: 14px;
        }
    
        .product-item__desc {
            flex-direction: column;
            align-items: flex-start;
        }
        
        .product-item__dot {
            display: none;
        }
    }
}
/* end product item  */

/* section-3 */
.section-3 {
    padding-bottom: 60px;

    &__wrap {
        background-image: url(../Image/Banner.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        padding: 36px 72px 0px 20px;
    }
    
    &__image {
        width: 42%;
    }
    
    &__image img {
        width: 100%;
        height: auto;
    }
    &__content {
        width: 39%;
        text-align: right;
        margin-top: 22px;
    }
    
    &__title {
        font-size: 52px;
        font-weight: 700;
        color: $text-head;
        margin-top: 0;
        margin-bottom: 8px; 
    }
    
    &__sub-title {
        font-size: 36px;
        font-weight: 700;
        color: $text-head;
        margin-top: 0;
        margin-bottom: 8px;
    }
    
    &__desc {
        font-size: 12px;
        color: #242B33;
        margin-top: 0;
        margin-bottom: 24px;
    }
    
    &__button {
        display: inline-flex;
        gap: 5px 10px;
    }
    
    @media (max-width: 1199.98px) {
        &__wrap {
            padding-right: 20px;
        }
    
        &__content {
            margin-top: 0;
        }
    
        &__title {
            font-size: 46px;
    
        }
    
        &__sub-title {
            font-size: 31px;
        }
    }
    
    @media (max-width: 991.98px) {
        &__wrap {
            flex-wrap: wrap;
            background-image: url(../Image/Banner-mobile.svg);
            background-position: center;
        }
    
        &__image {
            width: 100%;
            order: 1;
        }
    
        &__content {
            width: 100%;
            text-align: center;
            
        }
    }
    
    @media (max-width: 576.98px) {
        &__wrap {
            padding-top: 32px;
            padding-bottom: 40px;
        }
        
        &__title {
            font-size: 36px;
            margin-bottom: 0;
        }
    
        &__sub-title {
            font-size: 24px;
            margin-bottom: 12px;
        }
    
        &__desc {
            font-size: 12px;
            margin-bottom: 32px;
        }
        
        &__button {
            font-size: 16px;
            font-weight: 500;
            gap: 13px;
        }
    
        &__button .button {
            padding: 10px 20px;
        }
    }
}
/* end section-3 */

/* section-4 */
.section-4 {
    padding: 60px 0;
    &__wrap {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
    
    &__button {
        display: none;
    }
    @media (max-width: 991.98px) { 
    &__wrap {
        grid-template-columns: repeat(2,1fr);
    }
    }
    
    @media (max-width: 767.98px) {
        .box-head__right .button {
            display: none;
        }
    
        &__wrap {
            grid-template-columns: repeat(2,1fr);
        }
        &__button {
            display: block;
            margin-top: 16px;
            text-align: center;
            width: 100%;
        }
    }
    
    @media (max-width: 575.98px) {
            padding-bottom: 40px;
        &__wrap {
            grid-template-columns: repeat(1,1fr);
            gap: 12px;
        }
    
        &__button .button{
            width: 100%;
            justify-content: center;
        }
    }
}
/* end section-4 */

/* block item */
.block-item {
    box-shadow: 0px 4px 28px -2px #00000014;
    background: #fff;
    border-radius: 12px;
    padding: 8px;

    &__image {
        aspect-ratio: 364/240;
        border-radius: 10px;
        overflow: hidden;
    }
    
    &__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    &__content {
        margin-top: 8px;
        padding: 8px;
    }
    
    &__tag{
        background-color: #00A7E7;
        border-radius: 28px;
        font-size: 10px;
        color: #FDFDFD;
        font-weight: 700;
        display: inline-block;
        padding: 3px 11px;
        margin-bottom: 10px;
    }
    
    &__title {
        margin-top: 0;
        margin-bottom: 6px;
    }
    
    &__title a {
        color: $text-dark;
    }
    
    &__desc {
        font-size: 14px;
        font-weight: 400;
        color: #242B33;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

/* block item */

/* footer */
.footer {
    border-radius: 40px;
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    padding-top: 80px;
    padding-bottom: 40px;
    &__top {
        border-radius: 16px;
        padding: 32px;
        background-color: $text-head;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__top .footer__title {
        margin: 0;
        font-size: 20px;
        font-weight: 700;
        color: $text-white;
        text-transform: capitalize;
        width: 35%;
    }
    
    &__top .footer__form {
        padding: 12px;
        display: flex;
        gap: 12px;
        background-color: #fff;
        flex: 1;
        border-radius: 14px;
    }
    
    &__top .footer__form input {
        flex: 1;
        height: 48px;
        border-radius: 8px;
        border-color: 1px solid #99A2A5;
        padding: 14px 28px;
        outline: none;
    }
    
    &__top .footer__form input::placeholder {
        color: #99A2A5;
    }
    
    &__top .footer__form button {
        background-color: $text-head;
        color: $text-white;
        border-radius: 8px;
        padding: 12px 27.5px;
        border: 0;
        cursor: pointer;
    }
    
    
    &__middle {
        padding: 40px 0;
        display: flex;
        border-bottom: 1px solid #CCD1D2;
        align-items: center;
        justify-content: space-between;
    }
    
    &__middle .footer__link ul{
        list-style: none;
        display: flex;
        gap: 60px; 
        margin: 0;
        padding: 0;
    }
    
    &__middle .footer__link ul li a {
        color: #00171F;
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
    }
    
    &__middle .footer__social ul{
        list-style: none;
        display: flex;
        gap: 40px;
        margin: 0;
        padding: 0;
    }
    
    &__middle .footer__social ul li a {
        color: #00171F;
        font-size: 24px;
        text-transform: capitalize;
    }
    
    &__bottom {
        padding: 40px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__bottom .footer__copyright{
        padding: 10px 0;
        font-size: 14px;
        font-weight: 500;
        color: #667479;
        width: 40%;
    }
    
    &__bottom .footer__logo{
        width: 20%;
        text-align: center;
    }
    
    &__bottom .footer__logo img{
        height: 40px;
        width: auto;
    }
    
    &__bottom .footer__link{
        width: 40%;
        justify-items: flex-end;
    }
    
    &__bottom .footer__link ul{
        list-style: none;
        display: flex;
        gap: 32px; 
        margin: 0;
        padding: 0;
    }
    
    &__bottom .footer__link ul li a {
        color: #00171F;
        font-size: 14px;
        font-weight: 500;
    }
    
    @media (max-width: 1199.98px) {
        &__top .footer__title {
            font-size: 18px;
        }
    }
    
    @media (max-width: 991.98px) {
        .footer {
            padding-top: 60px;
            padding-bottom: 30px;
        }
    
        &__top {
            flex-wrap: wrap;
        }
    
        &__top .footer__title {
            width: 100%;
            font-size: 24px;
        }
    
        .footer__middle {
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }
    
        &__middle .footer__social ul {
            gap: 60px
        }
    
        &__bottom {
            flex-wrap: wrap;
        }
    
        &__bottom .footer__copyright {
            width: 100%;
            order: 2;
            text-align: center;
        }
    
        &__bottom .footer__logo {
            width: 100%;
            margin-bottom: 32px;
        }
    
        &__bottom .footer__logo img {
            margin: 0 auto;
        }
    
        &__bottom .footer__link {
            width: 100%;
            order: 1;
            justify-items: center;
            margin-bottom: 12px;
        }
    }
    
    @media (max-width: 575.98px) {
        .footer {
            border-radius: 20px 20px 0 0;
            padding-bottom: 16px;
        }
    
        &__top {
            padding: 16px;
            gap: 16px;
        }
    
        &__top .footer__form {
            flex-wrap: wrap;
        }
    
        &__top .footer__form button {
            width: 100%;
        }
    
        &__middle .footer__link ul {
            gap: 40px;
        }
    
        &__middle .footer__link ul li a {
            font-size: 13px;
        }
    
        &__middle .footer__social ul li a {
            font-size: 20px;
        }
    
        &__bottom {
            padding: 36px 0px;
        }
        
        &__bottom .footer__link ul {
            font-size: 12px;
            gap: 15px;
        }
    
        &__bottom .footer__copyright {
            font-size: 16px;
        }
    }
}
/* end footer */

/*Box breadcrumb*/
.box-breadcrumb {
    margin-bottom: 9px;
    
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 4px 16px;
    }

    &__item {
        display: inline-flex;
        align-items: center;
        gap:16px;

        i {
            font-size: 10px;
            color: $text-light;
        }

        &:last-child i {
            display: none;
        }
    }

    &__link {
        font-weight: 500;
        font-size: 14px;
        color: $text-light;
    }


}
/*end Box breadcrumb*/

/*layout product*/
.layout-product {
    padding-bottom: 60px;

    &__wrap {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        width: calc(25% - 20px);
    }
    &__right {
        width: 75%;
    }

    &__head {
        margin-bottom: 14px;
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        color: $text-head;
        margin-bottom: 0;
        margin-top: 0;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px
    }

    &__pagination {
        text-align: center;
        margin-top: 20px;
    }

    &__filter {
        display: none;
    }

    @media (max-width:991.98px) {
        &__left {
            display: none;
        }

        &__right {
            width: 100%;
        }

        &__filter {
            display: inline-flex;
        }

        &__head {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__filter {
            display: inline-flex;
            gap: 10px;
            align-items: center;
            border: 0;
            margin: 0;
            padding: 0;
            background-color: transparent;
            cursor: pointer;
            font-weight: 700;
            font-size: 16px;
            color: #002A48;
            
            img {
                width: auto;
                height: 16px;

            }
        }
    }

    @media (max-width: 767.98px) {
        &__list {
            grid-template-columns: repeat(2,1fr);
        }
    }
    
    @media (max-width: 575.98px) {
        padding-bottom: 40px;

        &__list {
            gap:12px;

        }
    }
}
/*end layout product*/

/*filter*/
.filter {
    &__title {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 20px;
        color: $text-head;
        
        img {
            height: 20px;
            width: auto;
        }
    }

    &__item {
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid #efefef;
    }

    &__item-title {
        font-weight: 700;
        font-size: 16px;
        color: $text-dark;
        margin-bottom: 10px;
    }

    &__item-box {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__item-choose {
        display: flex;
        align-items: center;
        gap: 10px;

        input {
            width: 16px;
            height: 16px;
        }

        label {
            font-size: 14px;
            font-weight: 500;
            color: $text-dark;
        }
    }


}
/*end filter*/

/*pagination*/
.pagination {
    display: inline-flex;
    gap:12px;

    &__button {
        width: 34px;
        height: 34px;
        border-radius: 8px;
        border: 0;
        outline: none;
        font-weight: 700;
        font-size: 18px;
        color: #002A48;
        background-color: #fff;
        cursor: pointer;

        &--active, &:hover {
            background-color: $text-head;
            color: #fdfdfd;
        }

        &--disabled {
            background-color: #fff !important;
            color: #002A48 !important;
            cursor: auto !important;
        }
    }
}
/*end pagination*/

/*product info*/
.product-info {
    padding: 20px 0;

    &__wrap {
        display: flex;
        border: 1px solid #ebeeef;
        border-radius: 20px;
        padding: 22px 20px;
    }

    &__left {
        width: 47.45%;
    }

    &__right {
        flex: 1;
        margin-left: 34px;
    }

    &__images-main {
        margin-bottom: 12px;

        img {
            width: 100%;
            aspect-ratio: 560/476;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    &__images-thumbs {
        display: grid;
        gap: 12px;
        grid-template-columns: repeat(5,1fr);
        img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 6px;
        }
    }

    &__title {
        margin-top: 18px;
        margin-bottom: 6px;
        font-weight: 700;
        font-size: 24px;
        color: $text-dark;
    }

    &__price {
        font-weight: 700;
        font-size: 24px;
        color: #002A48;
        margin-bottom: 18px;
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;
        margin-bottom: 18px;
    }

    &__table {
        margin-bottom: 18px;

        table {
            border-collapse: collapse;
            
        }

        td {
            border-bottom: 1px solid #ebeeef;
            padding: 12px;
            font-weight: 500;
            font-size: 14px;
            color: $text-light;
            
            &:first-child {
                width: 34%;
            }
        }

    }

    @media (max-width:991.98px) {
        &__wrap {
            flex-wrap: wrap;
            gap:22px;
        }

        &__left {
            width: 100%;
        }

        &__right {
            flex: none;
            margin-left: 0;
            width: 100%;
        }
    }
         
    @media (max-width: 575.98px) {
        padding-top: 0;
        .container {
            padding: 0;
        }

        &__wrap {
            padding: 0;
            border: 0;
        }

        &__images-thumbs {
            gap: 8px;
        }

        &__right {
            padding: 32px 16px 0 16px;
            box-shadow: 0px -6px 6px 0px #0000000F;
            border-radius: 20px 20px 0 0;
        }
    }

}
/*end product info*/

/*box share*/
.box-share {
    display: flex;
    align-items: center;
    gap: 21px;

    &__label {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        color: #002A48;
        font-size: 14px;

        i {
            font-size: 18px;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 18px;
        
        i {
            font-size: 19px;
            color: $text-light;
        }
    }
}
/*end box share*/