@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* pre set */
* {
  font-family: "Be Vietnam Pro", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/* end pre set */
/* container  */
.container {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1199.98px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 991.98px) {
  .container {
    width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

/*end container  */
/* header  */
.header {
  padding: 30px 0;
  position: relative;
  z-index: 9999;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}
.header__logo img {
  width: auto;
  height: 40px;
}
.header__menu {
  flex: 1;
  text-align: center;
}
.header__menu ul {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0 48px;
}
.header__menu ul a {
  font-weight: 700;
  font-size: 16px;
  color: #003459;
  text-transform: capitalize;
}
.header__search {
  background-color: #f3f3f3;
  border-radius: 46px;
  padding: 12px 16px;
  width: 280px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__search i {
  font-size: 16px;
  color: #667479;
}
.header__search input {
  flex: 1;
  border: 0;
  background-color: transparent;
  outline: none;
  color: #00171F;
}
.header__search input::placeholder {
  color: #667479;
}
.header__button-menu, .header__button-search {
  display: none;
  background-color: transparent;
  border: none;
  color: #00171F;
  cursor: pointer;
}
@media (max-width: 1199.98px) {
  .header .button {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .header__button-menu {
    display: inline-block;
    font-size: 20px;
  }
  .header__button-search {
    display: inline-block;
  }
  .header__menu {
    display: none;
    font-size: 23px;
  }
  .header__search {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .header {
    padding: 12px 0px;
  }
  .header__logo img {
    height: 32px;
  }
}

/* end header  */
/* button  */
.button {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 10px 28px;
  background-color: #003459;
  border-radius: 57px;
  height: 44px;
  width: auto;
  color: #FDFDFD;
  display: inline-flex;
  align-items: center;
  gap: 11px;
  border: 1.5px solid #003459;
}
.button i {
  font-size: 18px;
}
.button--outline {
  background-color: transparent;
  color: #00171F;
}

/* end button  */
/*section-1*/
.section-1 {
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  border-radius: 0 0 40px 40px;
  margin-top: -104px;
  padding-top: 104px;
  overflow: hidden;
}
.section-1__wrap {
  display: flex;
  position: relative;
}
.section-1__content {
  flex: 1;
  margin-right: 76px;
  margin-top: 80px;
  position: relative;
  z-index: 1;
}
.section-1__title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  color: #002A48;
  text-transform: capitalize;
}
.section-1__sub-title {
  margin: 0;
  font-weight: 700;
  font-size: 46px;
  color: #002A48;
  text-transform: capitalize;
}
.section-1__desc {
  font-weight: 500;
  font-size: 16px;
  color: #242B33;
}
.section-1__button {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}
.section-1__image {
  width: 50%;
  padding-right: 74px;
  position: relative;
}
.section-1__image-main {
  width: 100%;
  position: relative;
}
.section-1__group2 {
  position: absolute;
  bottom: 0;
  right: -29%;
  width: 145%;
  height: auto;
}
.section-1__rect3 {
  position: absolute;
  top: 63px;
  left: -18px;
}
.section-1__rect8 {
  position: absolute;
  bottom: 0;
  left: -91px;
}
.section-1__rect9 {
  position: absolute;
  top: -104px;
  left: -132px;
}
@media (max-width: 1199.98px) {
  .section-1__title {
    font-size: 53px;
  }
  .section-1__sub-title {
    font-size: 35px;
  }
  .section-1__rect8 {
    left: -185px;
  }
}
@media (max-width: 991.98px) {
  .section-1 .section-1 {
    border-radius: 0px 0px 20px 20px;
  }
  .section-1__wrap {
    flex-wrap: wrap;
  }
  .section-1__content {
    flex: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
    margin-top: 60px;
  }
  .section-1__image {
    width: 100%;
    padding-right: 0 auto;
  }
}
@media (max-width: 768.98px) {
  .section-1__rect9 {
    top: -15%;
    left: 15%;
  }
}
@media (max-width: 575.98px) {
  .section-1__content {
    margin-top: 35px;
  }
  .section-1__title {
    font-size: 46px;
  }
  .section-1__sub-title {
    font-size: 28px;
  }
  .section-1__desc {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 12px;
  }
  .section-1__button {
    gap: 13px;
  }
  .section-1__rect3 {
    display: none;
  }
  .section-1__rect8 {
    display: none;
  }
  .section-1__rect9 {
    top: -13%;
  }
}

/*end section-1*/
/* box head */
.box-head {
  margin-bottom: 28px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.box-head__sub-title {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin-bottom: 2px;
}
.box-head__title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: .box-head__title text-head;
}

/*end box head */
/* section-2 */
.section-2 {
  padding: 60px 0;
}
.section-2__wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.section-2__wrap__button {
  display: none;
}
@media (max-width: 991.98px) {
  .section-2__wrap {
    grid-template-columns: repeat(3, 1fr);
  }
  .section-2__wrap__button {
    display: inline;
  }
  .section-2__wrap__button .button {
    margin-top: 16px;
    width: 100%;
    justify-content: center;
    font-weight: 500;
  }
  .section-2 .box-head__right {
    display: none;
  }
}
@media (max-width: 768.98px) {
  .section-2__wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575.98px) {
  .section-2 {
    padding: 40px 0;
  }
  .section-2__wrap {
    gap: 12px;
  }
}

/* end section-2 */
/* product item  */
.product-item {
  background-color: #FDFDFD;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.0784313725);
  border-radius: 12px;
  padding: 8px;
}
.product-item__image {
  aspect-ratio: 1/1;
  border-radius: 10px;
  overflow: hidden;
}
.product-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-item__content {
  padding: 8px;
}
.product-item__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
}
.product-item__title a {
  color: #00171F;
}
.product-item__desc {
  display: flex;
  margin-top: 4px;
  margin-bottom: 4px;
  gap: 5px 10px;
  align-items: center;
}
.product-item__desc-item {
  font-weight: 500;
  font-size: 12px;
  color: .product-item__desc-item text-light;
}
.product-item__desc-item b {
  font-weight: 700;
}
.product-item__dot {
  width: 3px;
  height: 3px;
  background-color: .product-item__dot text-light;
  border-radius: 50%;
}
.product-item__price {
  font-weight: 700;
  font-size: 14px;
  color: .product-item__price text-dark;
}
@media (max-width: 575.98px) {
  .product-item .box-head {
    margin-bottom: 20px;
  }
  .product-item .box-head__sub-title {
    font-size: 14px;
  }
  .product-item .box-head__title {
    font-size: 20px;
  }
  .product-item .product-item__title {
    font-size: 14px;
  }
  .product-item .product-item__desc {
    flex-direction: column;
    align-items: flex-start;
  }
  .product-item .product-item__dot {
    display: none;
  }
}

/* end product item  */
/* section-3 */
.section-3 {
  padding-bottom: 60px;
}
.section-3__wrap {
  background-image: url(../Image/Banner.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 36px 72px 0px 20px;
}
.section-3__image {
  width: 42%;
}
.section-3__image img {
  width: 100%;
  height: auto;
}
.section-3__content {
  width: 39%;
  text-align: right;
  margin-top: 22px;
}
.section-3__title {
  font-size: 52px;
  font-weight: 700;
  color: #003459;
  margin-top: 0;
  margin-bottom: 8px;
}
.section-3__sub-title {
  font-size: 36px;
  font-weight: 700;
  color: #003459;
  margin-top: 0;
  margin-bottom: 8px;
}
.section-3__desc {
  font-size: 12px;
  color: #242B33;
  margin-top: 0;
  margin-bottom: 24px;
}
.section-3__button {
  display: inline-flex;
  gap: 5px 10px;
}
@media (max-width: 1199.98px) {
  .section-3__wrap {
    padding-right: 20px;
  }
  .section-3__content {
    margin-top: 0;
  }
  .section-3__title {
    font-size: 46px;
  }
  .section-3__sub-title {
    font-size: 31px;
  }
}
@media (max-width: 991.98px) {
  .section-3__wrap {
    flex-wrap: wrap;
    background-image: url(../Image/Banner-mobile.svg);
    background-position: center;
  }
  .section-3__image {
    width: 100%;
    order: 1;
  }
  .section-3__content {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 576.98px) {
  .section-3__wrap {
    padding-top: 32px;
    padding-bottom: 40px;
  }
  .section-3__title {
    font-size: 36px;
    margin-bottom: 0;
  }
  .section-3__sub-title {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .section-3__desc {
    font-size: 12px;
    margin-bottom: 32px;
  }
  .section-3__button {
    font-size: 16px;
    font-weight: 500;
    gap: 13px;
  }
  .section-3__button .button {
    padding: 10px 20px;
  }
}

/* end section-3 */
/* section-4 */
.section-4 {
  padding: 60px 0;
}
.section-4__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.section-4__button {
  display: none;
}
@media (max-width: 991.98px) {
  .section-4__wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  .section-4 .box-head__right .button {
    display: none;
  }
  .section-4__wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-4__button {
    display: block;
    margin-top: 16px;
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .section-4 {
    padding-bottom: 40px;
  }
  .section-4__wrap {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }
  .section-4__button .button {
    width: 100%;
    justify-content: center;
  }
}

/* end section-4 */
/* block item */
.block-item {
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.0784313725);
  background: #fff;
  border-radius: 12px;
  padding: 8px;
}
.block-item__image {
  aspect-ratio: 364/240;
  border-radius: 10px;
  overflow: hidden;
}
.block-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.block-item__content {
  margin-top: 8px;
  padding: 8px;
}
.block-item__tag {
  background-color: #00A7E7;
  border-radius: 28px;
  font-size: 10px;
  color: #FDFDFD;
  font-weight: 700;
  display: inline-block;
  padding: 3px 11px;
  margin-bottom: 10px;
}
.block-item__title {
  margin-top: 0;
  margin-bottom: 6px;
}
.block-item__title a {
  color: #00171F;
}
.block-item__desc {
  font-size: 14px;
  font-weight: 400;
  color: #242B33;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* block item */
/* footer */
.footer {
  border-radius: 40px;
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  padding-top: 80px;
  padding-bottom: 40px;
}
.footer__top {
  border-radius: 16px;
  padding: 32px;
  background-color: #003459;
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__top .footer__title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  color: #FDFDFD;
  text-transform: capitalize;
  width: 35%;
}
.footer__top .footer__form {
  padding: 12px;
  display: flex;
  gap: 12px;
  background-color: #fff;
  flex: 1;
  border-radius: 14px;
}
.footer__top .footer__form input {
  flex: 1;
  height: 48px;
  border-radius: 8px;
  border-color: 1px solid #99A2A5;
  padding: 14px 28px;
  outline: none;
}
.footer__top .footer__form input::placeholder {
  color: #99A2A5;
}
.footer__top .footer__form button {
  background-color: #003459;
  color: #FDFDFD;
  border-radius: 8px;
  padding: 12px 27.5px;
  border: 0;
  cursor: pointer;
}
.footer__middle {
  padding: 40px 0;
  display: flex;
  border-bottom: 1px solid #CCD1D2;
  align-items: center;
  justify-content: space-between;
}
.footer__middle .footer__link ul {
  list-style: none;
  display: flex;
  gap: 60px;
  margin: 0;
  padding: 0;
}
.footer__middle .footer__link ul li a {
  color: #00171F;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}
.footer__middle .footer__social ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}
.footer__middle .footer__social ul li a {
  color: #00171F;
  font-size: 24px;
  text-transform: capitalize;
}
.footer__bottom {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__bottom .footer__copyright {
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
  color: #667479;
  width: 40%;
}
.footer__bottom .footer__logo {
  width: 20%;
  text-align: center;
}
.footer__bottom .footer__logo img {
  height: 40px;
  width: auto;
}
.footer__bottom .footer__link {
  width: 40%;
  justify-items: flex-end;
}
.footer__bottom .footer__link ul {
  list-style: none;
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
}
.footer__bottom .footer__link ul li a {
  color: #00171F;
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 1199.98px) {
  .footer__top .footer__title {
    font-size: 18px;
  }
}
@media (max-width: 991.98px) {
  .footer .footer {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .footer__top {
    flex-wrap: wrap;
  }
  .footer__top .footer__title {
    width: 100%;
    font-size: 24px;
  }
  .footer .footer__middle {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .footer__middle .footer__social ul {
    gap: 60px;
  }
  .footer__bottom {
    flex-wrap: wrap;
  }
  .footer__bottom .footer__copyright {
    width: 100%;
    order: 2;
    text-align: center;
  }
  .footer__bottom .footer__logo {
    width: 100%;
    margin-bottom: 32px;
  }
  .footer__bottom .footer__logo img {
    margin: 0 auto;
  }
  .footer__bottom .footer__link {
    width: 100%;
    order: 1;
    justify-items: center;
    margin-bottom: 12px;
  }
}
@media (max-width: 575.98px) {
  .footer .footer {
    border-radius: 20px 20px 0 0;
    padding-bottom: 16px;
  }
  .footer__top {
    padding: 16px;
    gap: 16px;
  }
  .footer__top .footer__form {
    flex-wrap: wrap;
  }
  .footer__top .footer__form button {
    width: 100%;
  }
  .footer__middle .footer__link ul {
    gap: 40px;
  }
  .footer__middle .footer__link ul li a {
    font-size: 13px;
  }
  .footer__middle .footer__social ul li a {
    font-size: 20px;
  }
  .footer__bottom {
    padding: 36px 0px;
  }
  .footer__bottom .footer__link ul {
    font-size: 12px;
    gap: 15px;
  }
  .footer__bottom .footer__copyright {
    font-size: 16px;
  }
}

/* end footer */
/*Box breadcrumb*/
.box-breadcrumb {
  margin-bottom: 9px;
}
.box-breadcrumb__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px 16px;
}
.box-breadcrumb__item {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}
.box-breadcrumb__item i {
  font-size: 10px;
  color: #667479;
}
.box-breadcrumb__item:last-child i {
  display: none;
}
.box-breadcrumb__link {
  font-weight: 500;
  font-size: 14px;
  color: #667479;
}

/*end Box breadcrumb*/
/*layout product*/
.layout-product {
  padding-bottom: 60px;
}
.layout-product__wrap {
  display: flex;
  justify-content: space-between;
}
.layout-product__left {
  width: calc(25% - 20px);
}
.layout-product__right {
  width: 75%;
}
.layout-product__head {
  margin-bottom: 14px;
}
.layout-product__title {
  font-weight: 700;
  font-size: 24px;
  color: #003459;
  margin-bottom: 0;
  margin-top: 0;
}
.layout-product__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.layout-product__pagination {
  text-align: center;
  margin-top: 20px;
}
.layout-product__filter {
  display: none;
}
@media (max-width: 991.98px) {
  .layout-product__left {
    display: none;
  }
  .layout-product__right {
    width: 100%;
  }
  .layout-product__filter {
    display: inline-flex;
  }
  .layout-product__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .layout-product__filter {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    color: #002A48;
  }
  .layout-product__filter img {
    width: auto;
    height: 16px;
  }
}
@media (max-width: 767.98px) {
  .layout-product__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575.98px) {
  .layout-product {
    padding-bottom: 40px;
  }
  .layout-product__list {
    gap: 12px;
  }
}

/*end layout product*/
/*filter*/
.filter__title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  color: #003459;
}
.filter__title img {
  height: 20px;
  width: auto;
}
.filter__item {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #efefef;
}
.filter__item-title {
  font-weight: 700;
  font-size: 16px;
  color: #00171F;
  margin-bottom: 10px;
}
.filter__item-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.filter__item-choose {
  display: flex;
  align-items: center;
  gap: 10px;
}
.filter__item-choose input {
  width: 16px;
  height: 16px;
}
.filter__item-choose label {
  font-size: 14px;
  font-weight: 500;
  color: #00171F;
}

/*end filter*/
/*pagination*/
.pagination {
  display: inline-flex;
  gap: 12px;
}
.pagination__button {
  width: 34px;
  height: 34px;
  border-radius: 8px;
  border: 0;
  outline: none;
  font-weight: 700;
  font-size: 18px;
  color: #002A48;
  background-color: #fff;
  cursor: pointer;
}
.pagination__button--active, .pagination__button:hover {
  background-color: #003459;
  color: #fdfdfd;
}
.pagination__button--disabled {
  background-color: #fff !important;
  color: #002A48 !important;
  cursor: auto !important;
}

/*end pagination*/
/*product info*/
.product-info {
  padding: 20px 0;
}
.product-info__wrap {
  display: flex;
  border: 1px solid #ebeeef;
  border-radius: 20px;
  padding: 22px 20px;
}
.product-info__left {
  width: 47.45%;
}
.product-info__right {
  flex: 1;
  margin-left: 34px;
}
.product-info__images-main {
  margin-bottom: 12px;
}
.product-info__images-main img {
  width: 100%;
  aspect-ratio: 560/476;
  object-fit: cover;
  border-radius: 10px;
}
.product-info__images-thumbs {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(5, 1fr);
}
.product-info__images-thumbs img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 6px;
}
.product-info__title {
  margin-top: 18px;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 24px;
  color: #00171F;
}
.product-info__price {
  font-weight: 700;
  font-size: 24px;
  color: #002A48;
  margin-bottom: 18px;
}
.product-info__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin-bottom: 18px;
}
.product-info__table {
  margin-bottom: 18px;
}
.product-info__table table {
  border-collapse: collapse;
}
.product-info__table td {
  border-bottom: 1px solid #ebeeef;
  padding: 12px;
  font-weight: 500;
  font-size: 14px;
  color: #667479;
}
.product-info__table td:first-child {
  width: 34%;
}
@media (max-width: 991.98px) {
  .product-info__wrap {
    flex-wrap: wrap;
    gap: 22px;
  }
  .product-info__left {
    width: 100%;
  }
  .product-info__right {
    flex: none;
    margin-left: 0;
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .product-info {
    padding-top: 0;
  }
  .product-info .container {
    padding: 0;
  }
  .product-info__wrap {
    padding: 0;
    border: 0;
  }
  .product-info__images-thumbs {
    gap: 8px;
  }
  .product-info__right {
    padding: 32px 16px 0 16px;
    box-shadow: 0px -6px 6px 0px rgba(0, 0, 0, 0.0588235294);
    border-radius: 20px 20px 0 0;
  }
}

/*end product info*/
/*box share*/
.box-share {
  display: flex;
  align-items: center;
  gap: 21px;
}
.box-share__label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: #002A48;
  font-size: 14px;
}
.box-share__label i {
  font-size: 18px;
}
.box-share__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 18px;
}
.box-share__list i {
  font-size: 19px;
  color: #667479;
}

/*end box share*/

/*# sourceMappingURL=style.css.map */
